aside {
  grid-row: 1 / 4;
  background-color: var(--black);
  z-index: 2;
}

footer {
  grid-column: 2 / 6;
  grid-row: 3;
  width: 100%;
}

/******** EDIT FORM ********/

.edit-section {
  grid-column: 2 / 6;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.edit-section__h2 {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
}

.form-edit {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-edit label,
.form-edit input,
.form-edit textarea {
  width: 70%;
  font-size: calc(.5rem + .4vw);
}

.form-edit label {
  display: block;
  margin-bottom: .5rem;
}

.form-edit input {
  padding: .5rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.form-edit textarea {
  border: none;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem;
}

.form-edit input[type="submit"] {
  width: 30%;
  text-transform: uppercase;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}

.form-edit input[type="submit"]:hover {
  background-color: #547155;
  color: var(--white);
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

.form-edit input:focus,
.form-edit textarea:focus {
  outline: 2px solid #547155;
}

/******** ADD FORM ********/

.add-section {
  grid-column: 2 / 6;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-section__h2 {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
}

.add-form-product {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form-product label,
.add-form-product input,
.add-form-product textarea {
  width: 70%;
  font-size: calc(.5rem + .4vw);
}

.add-form-product label {
  display: block;
  margin-bottom: .5rem;
}

.add-form-product input {
  padding: .5rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.add-form-product textarea {
  border: none;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem;
}

.add-form-product input[type="submit"] {
  width: 30%;
  text-transform: uppercase;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}

.add-form-product input[type="submit"]:hover {
  background-color: #547155;
  color: var(--white);
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

.add-form-product input:focus,
.add-form-product textarea:focus {
  outline: 2px solid #547155;
}

/****** DETAILS ********/

.product-section {
  grid-column: 3 / 5;
  padding: 3rem 0;
}

.product {
  width: 100%;
  display: flex;
  padding: 1.5rem;
  margin: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.product__h3 {
  font-size: calc(2.6rem - 1vw);
}

.product-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.price, .brand,
.category {
  width: 18%;
  text-align: center;
  border-radius: 2rem;
  color: var(--white);
  padding: .1rem 0;
}

.price {
  background-color: rgb(180, 38, 13);
}

.brand {
  width: 40%;
  background-color: #0082aa;
  padding: .2rem 1rem;
}

.category {
  width: 25%;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 134, 14);
}

.description {
  padding: 1rem 0;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  padding: .7rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: .2rem;
  color: var(--black);
}

.link:hover {
  background-color: #547155;
  color: var(--white);
  transition: all 500ms;
}



/************ CATEGORY ***********/

.categories {
  grid-column: 2 / 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-button {
  width: 20%;
}

.about {
  grid-column: 2 / 6;
  text-align: center;
  font-size: calc(2rem - .5vw);
  p a {
    margin-left: .5rem;
  }
}

.icon-heart {
  margin: 0 .5rem;
}